@font-face {
    font-family: 'SingleDay';
    src: url('../public/SingleDay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'SingleDay', sans-serif;
  }
